@import 'status-indicator.css';

@font-face {
    font-family: Circular;
    src: url('fonts/Circular.woff2');
}

html,
body {
    background-color: #161616;
    font-family: Circular;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: default;
}

.title {
    font-size: 3.5cqw;
    color: #83ec06;
}

.sub-title {
    font-size: 2.5cqw;
    color: #83ec06;
}

.description {
    font-size: 1.5cqw;
    text-align: end;
    padding-top: 5px;
    padding-right: 5px;
    color: #83ec06;
}

.connections {
    font-size: 1.5cqw;
    text-align: left;
    padding-top: 5px;
    padding-right: 5px;
    color: #83ec06;
}

.social-links {
    display: flex;
    gap: 10px;
    align-items: center;
    /* vertically center both icons */
}

.social-links a {
    display: flex;
    align-items: center;
    /* vertically center the child image */
}

.social-links svg {
    height: 30px;
    width: 30px;
    stroke: #83ec06
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
}

.item {
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid #274702;
    transition: all 0.3s ease;
    padding: 20px;
    cursor: pointer;
}

.item:hover {
    transform: translateY(-2px);
    border: 5px solid #83ec06;
}

.item-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.item-2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    flex-direction: column;
}

.item-3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    position: relative;
}

.item-4 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    position: relative;
}

.item-5 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    flex-direction: column;
}

.item-6 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    flex-direction: column;
}